<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.programming.mapper.ProgrammingFilesMapper">
    
    <resultMap type="ProgrammingFiles" id="ProgrammingFilesResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileInfo"    column="file_info"    />
        <result property="fileCode"    column="file_code"    />
        <result property="notes"    column="notes"    />
    </resultMap>

    <sql id="selectProgrammingFilesVo">
        select id, file_name, file_info, file_code, notes from programming_files
    </sql>

    <select id="selectProgrammingFilesList" parameterType="ProgrammingFiles" resultMap="ProgrammingFilesResult">
        <include refid="selectProgrammingFilesVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileInfo != null  and fileInfo != ''"> and file_info = #{fileInfo}</if>
            <if test="fileCode != null  and fileCode != ''"> and file_code = #{fileCode}</if>
            <if test="notes != null  and notes != ''"> and notes = #{notes}</if>
        </where>
    </select>
    
    <select id="selectProgrammingFilesById" parameterType="Long" resultMap="ProgrammingFilesResult">
        <include refid="selectProgrammingFilesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProgrammingFiles" parameterType="ProgrammingFiles" useGeneratedKeys="true" keyProperty="id">
        insert into programming_files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">file_name,</if>
            <if test="fileInfo != null">file_info,</if>
            <if test="fileCode != null">file_code,</if>
            <if test="notes != null">notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null">#{fileName},</if>
            <if test="fileInfo != null">#{fileInfo},</if>
            <if test="fileCode != null">#{fileCode},</if>
            <if test="notes != null">#{notes},</if>
         </trim>
    </insert>

    <update id="updateProgrammingFiles" parameterType="ProgrammingFiles">
        update programming_files
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileInfo != null">file_info = #{fileInfo},</if>
            <if test="fileCode != null">file_code = #{fileCode},</if>
            <if test="notes != null">notes = #{notes},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProgrammingFilesById" parameterType="Long">
        delete from programming_files where id = #{id}
    </delete>

    <delete id="deleteProgrammingFilesByIds" parameterType="String">
        delete from programming_files where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>