<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.algorithm.mapper.AlgorithmPathMapper">
    
    <resultMap type="AlgorithmPath" id="AlgorithmPathResult">
        <result property="id"    column="id"    />
        <result property="pathName"    column="path_name"    />
        <result property="pathParam"    column="path_param"    />
        <result property="notes"    column="notes"    />
    </resultMap>

    <sql id="selectAlgorithmPathVo">
        select id, path_name, path_param, notes from algorithm_path
    </sql>

    <select id="selectAlgorithmPathList" parameterType="AlgorithmPath" resultMap="AlgorithmPathResult">
        <include refid="selectAlgorithmPathVo"/>
        <where>  
            <if test="pathName != null  and pathName != ''"> and path_name like concat('%', #{pathName}, '%')</if>
            <if test="pathParam != null  and pathParam != ''"> and path_param = #{pathParam}</if>
            <if test="notes != null  and notes != ''"> and notes = #{notes}</if>
        </where>
    </select>
    
    <select id="selectAlgorithmPathById" parameterType="Long" resultMap="AlgorithmPathResult">
        <include refid="selectAlgorithmPathVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlgorithmPath" parameterType="AlgorithmPath" useGeneratedKeys="true" keyProperty="id">
        insert into algorithm_path
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pathName != null">path_name,</if>
            <if test="pathParam != null">path_param,</if>
            <if test="notes != null">notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pathName != null">#{pathName},</if>
            <if test="pathParam != null">#{pathParam},</if>
            <if test="notes != null">#{notes},</if>
         </trim>
    </insert>

    <update id="updateAlgorithmPath" parameterType="AlgorithmPath">
        update algorithm_path
        <trim prefix="SET" suffixOverrides=",">
            <if test="pathName != null">path_name = #{pathName},</if>
            <if test="pathParam != null">path_param = #{pathParam},</if>
            <if test="notes != null">notes = #{notes},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlgorithmPathById" parameterType="Long">
        delete from algorithm_path where id = #{id}
    </delete>

    <delete id="deleteAlgorithmPathByIds" parameterType="String">
        delete from algorithm_path where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>